<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="flagbit_flysystem_create_after">
        <observer name="s3Observer" instance="Flagbit\FlysystemS3\Observer\S3Observer" />
    </event>
</config>